<style>
    .tooltip-inner
    {
        background-color: SteelBlue; 
        color: white;
        padding: 10px;
        font-size: 12px;
        margin-top: 5px;
    }
    .tooltip.bottom > .tooltip-arrow
    {
        border-bottom: 10px solid SteelBlue;
    }
    td
    {
        vertical-align: middle;
    }
    .btn
    {
        min-width: 80px;
    }
</style>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="nav navbar-nav">
            <a href="?view_mode=search_delivery" data-toggle="tooltip" title="<#LANG_DT_BTN_MAIN#>" class="btn navbar-btn [#if VIEW_MODE='search_delivery' || VIEW_MODE=''#]btn-success[#else VIEW_MODE#]btn-warning[#endif VIEW_MODE#]"><i class="glyphicon glyphicon-home"></i></a>
            <a href="?view_mode=create_delivery" data-toggle="tooltip" title="<#LANG_DT_BTN_CREATE#>" class="btn navbar-btn [#if VIEW_MODE='create_delivery'#]btn-success[#else VIEW_MODE#]btn-warning[#endif VIEW_MODE#]"><i class="glyphicon glyphicon-plus"></i></a>
        </div>
		<div class="nav navbar-nav navbar-right">
			<p class="navbar-text">[#TIME_COUNT#]</p>
		</div>
    </div>
</nav>
[#if VIEW_MODE="search_delivery" || VIEW_MODE=""#]
	[#inc delivery_search_usual.html#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="view_delivery"#]
	[#inc delivery_view_usual.html#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="edit_delivery"#]
	[#inc delivery_edit.html#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="create_delivery"#]
	[#inc delivery_create.html#]
[#endif VIEW_MODE#]