[#if RESULT#]
    <form action="?" method="post" name="frmList_delivery">
    	<table class="table table-condensed table-responsive table-hover">
    		<thead>
    			<tr class="success">
    				<th class="col-sm-1"><#LANG_DT_TAB_TRACK#></th>
    				<th class="col-sm-3 hidden-xs"><#LANG_DT_TAB_DESCRIPTION#></th>
    				<th class="col-sm-1 visible-md visible-lg"><#LANG_DT_TAB_IN_WAY#></th>
    				<th class="col-sm-2 hidden-xs"><#LANG_DT_TAB_DATA_START#></th>
    				<th class="col-sm-2 hidden-xs"><#LANG_DT_TAB_DATA_UPDATE#></th>
    				<th class="col-sm-2"><#LANG_DT_TAB_DATA_ARCH#></th>
    				<th class="col-sm-1">&nbsp;</th>
    			</tr>
    		</thead>
    		[#begin RESULT#]
        		<tr>
        			<td>
        				[#if TRACK!=""#]
        					<b>[#TRACK#]</b>
        				[#else#]
        					&nbsp;
        				[#endif#]
        			</td>
        			<td class="hidden-xs">
        				[#if DESCRIPTION!=""#]
        					[#DESCRIPTION#]
        				[#else#]
        					&nbsp;
        				[#endif#]
        			</td>
        			<td class="visible-md visible-lg">
        				[#if IN_WAY!=""#]
        					[#IN_WAY#]
        				[#else#]
        					&nbsp;
        				[#endif#]
        			</td>
        			<td class="hidden-xs">
        				[#if START_DATA!=""#]
        					[#START_DATA#]
        				[#else#]
        					&nbsp;
        				[#endif#]
        			</td>
        			<td class="hidden-xs">
        				[#if LAST_DATA!=""#]
        					[#LAST_DATA#]
        				[#else#]
        					&nbsp;
        				[#endif#]
        			</td>
        			<td>
        				[#if ARCHIVED_DATA!=""#]
        					[#ARCHIVED_DATA#]
        				[#else#]
        					&nbsp;
        				[#endif#]
        			</td>
        			<td>
        				<div style="width:75px;" class="btn-group">
        				    <a href="?view_mode=restore_delivery&id=[#ID#]" class="btn btn-info btn-sm" data-toggle="tooltip" title="<#LANG_DT_BTN_RESTORE#>" onClick="return confirm('<#LANG_DT_MSG_RESTORE#>')"><i class="glyphicon glyphicon-refresh"></i></a>
        					<a href="?view_mode=delete_delivery&id=[#ID#]" class="btn btn-danger btn-sm" data-toggle="tooltip" title="<#LANG_DT_BTN_DEL#>" onClick="return confirm('<#LANG_DT_MSG_DEL#>')"><i class="glyphicon glyphicon-remove"></i></a>
        			    </div>
        			</td>
        		</tr>
    		[#end RESULT#]
    	</table>
    	<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
    	<input type="hidden" name="view_mode" value="multiple_delivery">
    </form>
[#else RESULT#]
    <p><font color="red"><#LANG_NO_RECORDS_FOUND#></font></p>
[#endif RESULT#]