[#if INFO#]
<p class="[#if OK==2#]text-info[#endif OK#][#if OK==1#]text-success[#endif OK#][#if OK==0#]text-danger[#endif OK#]"><#INFO#></p>
[#endif INFO#]
<form  class="form-horizontal" action="?" method="post" enctype="multipart/form-data" name="frmEdit">
	<fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="new_track"><#LANG_DT_TAB_TRACK#></label>
            <div class="col-sm-3">
                <input class="form-control" id="new_track" name="new_track" pattern="[a-zA-Z]{0,}[0-9]{5,}[a-zA-Z]{0,}" value="[#NEW_TRACK#]" type="text" placeholder="<#LANG_DT_MSG_TRACK#>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="new_descr"><#LANG_DT_TAB_DESCRIPTION#></label>
            <div class="col-sm-3">
                <input class="form-control" id="new_descr" name="new_descr" type="text"  placeholder="<#LANG_DT_MSG_DESC#>">
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-4">
			<button type="submit" name="submit" value="Submit" class="btn btn-info"><#LANG_DT_BTN_CREATE#></button>
			<button type="reset" name="reset" value="Reset" class="btn btn-danger"><#LANG_DT_BTN_RESET#></button>
			<input type="hidden" name="id" value="<#ID#>">
			<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
			<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
			<input type="hidden" name="mode" value="create">
        </div>
	</fieldset>
</form>
