<form class="form-horizontal" action="#" method="post" enctype="multipart/form-data" name="frmEdit" >
    <div class="form-group [#if API_KEY#]has-success[#else API_KEY#]has-error[#endif API_KEY#] has-feedback">
        <label class="control-label col-sm-3" for="api_key"><#LANG_DT_SET_API_TITLE#>&nbsp;<span class='glyphicon [#if API_KEY#]glyphicon-ok[#else API_KEY#]glyphicon-remove[#endif API_KEY#] form-control-feedback'></span></label>
        <div class="col-sm-6 input-group">
            <input type="text" class="form-control" id="api_key" name="api_key" value="[#API_KEY#]" pattern='.{40,}' placeholder="<#LANG_DT_SET_API_TOOLTIP#>">
            <span class="input-group-addon" data-toggle="tooltip" title="<#LANG_DT_SET_API_INFO#>"><i class="glyphicon glyphicon-info-sign"></i></span> 
        </div>
    </div>
    <div class="form-group [#if PREFIX#]has-success[#else PREFIX#]has-warning[#endif PREFIX#] has-feedback">
        <label class="control-label col-sm-3 form-control-feedback" for="example"><#LANG_DT_SET_EXAMPLE_TITLE#>&nbsp;</label>
        <div class="col-sm-6 input-group">
            <p class="form-control-static" id="example">
			[#if PREFIX#]
			    <code>[#PREFIX#]&nbsp;<#LANG_DT_SET_EXAMPLE_TRACK#></code>&nbsp;-&nbsp;<#LANG_DT_SET_EXAMPLE_INFO2#>
				[#if UPDATE_COMAND#]
					<br><code>[#PREFIX#]&nbsp;[#UPDATE_COMAND#]</code>&nbsp;-&nbsp;<#LANG_DT_SET_EXAMPLE_INFO1#></br>
				[#else UPDATE_COMAND#]
					<br><#LANG_DT_SET_EXAMPLE_ERR2#></br>
				[#endif UPDATE_COMAND#]
			[#else PREFIX#]
				<#LANG_DT_SET_EXAMPLE_ERR1#>
			[#endif PREFIX#]
			</p>
        </div>
    </div>
    <div class="form-group [#if PREFIX#]has-success[#else PREFIX#]has-warning[#endif PREFIX#] has-feedback">
        <label class="control-label col-sm-3" for="prefix"><#LANG_DT_SET_PRE_TITLE#>&nbsp;<span class='glyphicon [#if PREFIX#]glyphicon-ok[#else PREFIX#]glyphicon-remove[#endif PREFIX#] form-control-feedback'></span></label>
        <div class="col-sm-2 input-group">          
            <input type="text" class="form-control" id="prefix" name="prefix" value="[#PREFIX#]" pattern='[^\<\>\/\\\[\]\(\)\^\.\|\?\*\+\{\}\$]+' data-toggle="tooltip" title="<#LANG_DT_SET_PRE_CMD_TOOLTIP#>">
            <span class="input-group-addon" data-toggle="tooltip" title="<#LANG_DT_SET_PRE_INFO#>"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div>
    </div>
    <div class="form-group [#if UPDATE_COMAND#]has-success[#else UPDATE_COMAND#]has-warning[#endif UPDATE_COMAND#] has-feedback">
        <label class="control-label col-sm-3" for="update_comand"><#LANG_DT_SET_CMD_TITLE#>&nbsp;<span class='glyphicon [#if UPDATE_COMAND#]glyphicon-ok[#else UPDATE_COMAND#]glyphicon-ban-circle[#endif UPDATE_COMAND#] form-control-feedback'></span></label>        
        <div class="col-sm-2 input-group">
            <input type="text" class="form-control" id="update_comand" name="update_comand" value="[#UPDATE_COMAND#]" pattern='[^\<\>\/\\\[\]\(\)\^\.\|\?\*\+\{\}\$]+' data-toggle="tooltip" title="<#LANG_DT_SET_PRE_CMD_TOOLTIP#>">
            <span class="input-group-addon" data-toggle="tooltip" title="<#LANG_DT_SET_CMD_INFO#>"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div>
    </div>
    <div class="form-group [#if EVERY_HOUR#]has-success[#else EVERY_HOUR#]has-warning[#endif EVERY_HOUR#] has-feedback">
        <label class="control-label col-sm-3" for="every_hour"><#LANG_DT_SET_EVERYHOUR_TITLE#>&nbsp;<span class='glyphicon [#if EVERY_HOUR#]glyphicon-ok[#else EVERY_HOUR#]glyphicon-remove[#endif EVERY_HOUR#] form-control-feedback'></span></label>
        <div class="col-sm-2 input-group">
            <input type="number" class="form-control" id="every_hour" name="every_hour" value="[#EVERY_HOUR#]" min="0" max="24">
            <span data-toggle="tooltip" title="<#LANG_DT_SET_EVERYHOUR_TOOLTIP#>" class="input-group-addon"><#LANG_DT_SET_EVERYHOUR_INFO#></span>
        </div>
    </div>
    <div class="form-group [#if EVERY_HOUR#]has-success[#else EVERY_HOUR#]has-warning[#endif EVERY_HOUR#] has-feedback">
        <label class="control-label col-sm-3" for="start_with"><#LANG_DT_SET_PERIOD_TITLE#>&nbsp;<span class='glyphicon [#if EVERY_HOUR#]glyphicon-ok[#else EVERY_HOUR#]glyphicon-ban-circle[#endif EVERY_HOUR#] form-control-feedback'></span></label>
        <div class="col-sm-2 input-group" data-toggle="tooltip" title="<#LANG_DT_SET_START_TOOLTIP#>">
            <span class="input-group-addon"><#LANG_DT_SET_START_INFO#></span>
            <input type="time" class="form-control" id="start_with" name="start_with" value="[#START_WITH#]">
        </div>
        <div class="col-sm-2 input-group" data-toggle="tooltip" title="<#LANG_DT_SET_FINISH_TOOLTIP#>">
            <span class="input-group-addon"><#LANG_DT_SET_FINISH_INFO#></span>
            <input type="time" class="form-control" id="finish_before" name="finish_before" value="[#FINISH_BEFORE#]">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="set_lang"><#LANG_DT_SET_LANG_TITLE#>&nbsp;</label>
        <div class="col-sm-4 input-group">
            <select class="form-control" id="set_lang" name="set_lang">
                <option value="AS_IS" [#if SET_LANG="AS_IS" || SET_LANG=""#] selected[#endif#]><#LANG_DT_SET_LANG_1#></option>
                <option value="EN_MT" [#if SET_LANG="EN_MT"#] selected[#endif#]><#LANG_DT_SET_LANG_2#></option>
                <option value="UK_MT" [#if SET_LANG="UK_MT"#] selected[#endif#]><#LANG_DT_SET_LANG_3#></option>
                <option value="RU_MT" [#if SET_LANG="RU_MT"#] selected[#endif#]><#LANG_DT_SET_LANG_4#></option>
				<option value="FR_MT" [#if SET_LANG="FR_MT"#] selected[#endif#]><#LANG_DT_SET_LANG_5#></option>
				<option value="DE_MT" [#if SET_LANG="DE_MT"#] selected[#endif#]><#LANG_DT_SET_LANG_6#></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="lvl"><#LANG_DT_SET_LVL_TITLE#>&nbsp;</label>
        <div class="col-sm-2 input-group">
            <input type="text" class="form-control" id="lvl" pattern="[0-9]{1,2}" name="lvl" value="[#LVL#]">
            <span data-toggle="tooltip" title="<#LANG_DT_SET_LVL_TOOLTIP#>" class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="auto_archived"><#LANG_DT_SET_ARCH_TITLE#>&nbsp;</label>
        <div class="checkbox col-sm-2">
            <input type="checkbox" name="auto_archived" value="1"[#if AUTO_ARCHIVED="1"#] checked[#endif#]>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="say_update"><#LANG_DT_SET_SAY_TITLE#>&nbsp;</label>
        <div class="checkbox col-sm-2">
            <input type="checkbox" name="say_update" id="say_update" value="1"[#if SAY_UPDATE="1"#] checked[#endif#]>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="log_ok"><#LANG_DT_SET_LOG_TITLE#>&nbsp;</label>
        <div class="checkbox col-sm-2">
            <input type="checkbox" name="log_ok" id="log_ok" value="1"[#if LOG_OK="1"#] checked[#endif#]>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <button style="width:220px;" type="submit" name="subm" value="Submit" class="btn btn-info"><#LANG_UPDATE#></button>
            <input type="hidden" name="view_mode" value="update_settings">
		    <input type="hidden" name="mode" value="update">
        </div>
    </div>
</form>
